@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    font-family: primary;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    
  }
  p {
    @apply text-[25px] xl:text-[25px] leading-[1.1] font-semibold;
    
  }
}
